[submodule "static-libs"]
	path = static-libs
	url = https://github.com/ZwerOxotnik/zk-factorio-static-lib
[submodule "event-listener/branch-1/v0-9-6"]
	path = event-listener/branch-1/v0-9-6
	url = https://gitlab.com/ZwerOxotnik/factorio-event-listener
